# #JWT_CREDENTIAL
# PORT = 3000
# SECRET_ACCESS_TOKEN = Access_Token_Secret_VQM
# ACCESS_TOKEN_LIFE = 10m
# URI = mongodb://localhost:27017/message-chat

URI = mongodb://localhost:27017/message-chat
port= 3000

SECRET_ACCESS_TOKEN = Access_Token_Secret_VQM
ACCESS_TOKEN_LIFE = 10m

LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="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"
LANGSMITH_PROJECT="pr-downright-recreation-8"

TAVILY_API_KEY="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"

OPENAI_API_KEY="keyOpenAi"
# Reduce tracing latency if you are not in a serverless environment
# export LANGCHAIN_CALLBACKS_BACKGROUND=true